<!DOCTYPE html>
<html>
<head>
	<title>Get Your Guide - User Tracker</title>
	<!-- inject:css -->
  <!-- endinject -->
</head>
<body class="bg-prim text-beta">
	<div id="overlay" class="bg-beta text-prim" style="opacity:1">
		<h3>Getting<br/>Your<br/>Guide...</h3>
	</div>
	<div id="container" style="opacity:0">
		<h1 id="customerFirstName"></h1>
		<div id="activityWrap" class="bg-beta text-prim">
			<div id="activityCarousel">
				<img id="activityMap"/>
				<img id="activityPicture"/>
			</div>
			<h2 id="activityTitle"></h2>
		</div>
	</div>
	<!-- inject:js -->
  <!-- endinject -->
</body>
</html>